 ------
 Usage
 ------
 Dan T. Tran
 <dantran@gmail.com>
 ------
 2010-02-15
 ------

Usage

  The execution of this plugin's goal can be bound to a phase of the build lifecycle.

---------------------------
<project>
  [...]
  <build>
    [...]
    <plugins>
      [...]
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>credentials-maven-plugin</artifactId>
        <version>${project.version}</version>

        <!-- common configuration shared by all executions -->
        <configuration>
			<useSystemProperties>true</useSystemProperties>
          [...]
        </configuration>

        <executions>
          <execution>
            <phase></phase>
            <goals>
              <goal>execute</goal>
            </goals>
            <!-- specific configuration for this execution -->
            <configuration>
              <!-- specify your credentials sources -->
				<usernameProperty>username</usernameProperty>
				<passwordProperty>password</passwordProperty>
				<settingsKey>my.server</settingsKey>
	            [...]
            </configuration>
          </execution>
          <execution>
            [...]
          </execution>
          [...]
        </executions>
      </plugin>
      [...]
    </plugins>
    [...]
  </build>
  [...]
</project>
---------------------------
